@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  min-height: 100vh;
  display: flex;
  background: #fca311;
  font-family: "League Spartan", sans-serif;
}

.top-margin{
  margin-top: 90px !important;
}

footer{
  color: white;
  text-align: center;
  margin-top: auto;
}

.bg-blue{
  background: #14213d;
}

.bg-orange{
  background: #fca311 !important;
}

.bg-green{
  background: #4BD78C;
}

.m-z{
  z-index: 2147483647 !important;
}

.max-z{
  z-index: 2000000 !important;
}

.pre-max-z{
  z-index: 1000000;
}
